.icon{
	color: white;
	text-decoration: none;
	padding: 1.1em;
	display: flex;
	transition: all .5s;
}

.icon-facebook2{
	background: #2E406E;
}
.icon-youtube{
 	background: #E83028;
}
.icon-whatsapp{
 	background: green;
}
.icon-mail2{
	background: gray;
}
.icon-phone{
	background: orange;
}
.icon:first-child {
	border-radius: 1rem 0 0 0;
}
.icon:last-child {
	border-radius: 0 0 0 1rem;
}
.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,0.42); 
}